.icon-ares {
    background-image: url("https://raw.githubusercontent.com/LeoGonCha/icon-teste/master/ares.png");
    width: 50px;
    height: 50px;
    display: block;
    background-size: contain;
    background-repeat: no-repeat;
}
